<div class="container p-5">
    <div class="row">
        <div class="col-md-4 py-10 mx-auto">
            <div class="card" >
                <div class="card-header">
                    Sign In
                </div>
                <div class="card-body">
                    <form 
                    (ngSubmit)="login()"
                    name="form"
                    #f="ngForm"
                    fxLayout="column wrap"
                    novalidate>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput
                            name="email" 
                            [(ngModel)]="form.email" 
                            #username="ngModel" 
                            placeholder="johndoe@email.com"
                            required>
                            <mat-icon matSuffix>mail</mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" 
                            placeholder="********" 
                            [(ngModel)]="form.password" 
                            #password="ngModel" 
                            name="password" required>
                            <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <br>
                        <button matButton matRipple class="btn btn-success btn-block">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
