<body> 
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
       <a class="navbar-brand" href="#">AquaPac Stock System</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="navbar-collapse collapse" id="navbarNav">
         <ul class="navbar-nav" *ngIf="isLoggedIn">
           <li class="nav-item">
             <a class="nav-link" [routerLink]="['/add-company']" routerLinkActive="active">Add Company</a>
           </li>
 
           <li class="nav-item">
             <a class="nav-link" [routerLink]="['/view-stock']" routerLinkActive="active">View Stock</a>
           </li>
 
           <li class="nav-item">
             <a class="nav-link" [routerLink]="['/add-stock']" routerLinkActive="active">Add Stock</a>
           </li>
         </ul>
         <ul class="navbar-nav ml-auto">
           <ng-container>
             <li class="nav-item" *ngIf="!isLoggedIn">
               <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="active">Sign In</a>
             </li>
             <li class="nav-item" *ngIf="isLoggedIn">
               <a class="nav-link" style="cursor: pointer;" (click)="logout()">Log out</a>
             </li>
           </ng-container>
         </ul>
       </div>
     </div>
   </nav> -->


   <nav class="flex items-center bg-gray-800 p-3 flex-wrap">
    <a href="#" class="p-2 mr-4 inline-flex items-center">
      <span class="text-xl text-white font-bold uppercase tracking-wide">
        AquaPac Stock
      </span>
    </a>
    <button
      class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
      data-target="#navigation">
      <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/add-stock']" *ngIf="isLoggedIn">Add Stock</button>
        <button mat-menu-item [routerLink]="['/view-stock']" *ngIf="isLoggedIn">View Stock</button>
        <button mat-menu-item [routerLink]="['/add-company']" *ngIf="isLoggedIn">Manage Companies</button>
        <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">Log Out</button>
        <button mat-menu-item [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</button>
      </mat-menu>
    </button>
    <div
      class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
      id="navigation"
    >
      <div
        class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto"
      >
        <div *ngIf="isLoggedIn">
          <a
            [routerLink]="['/add-stock']" routerLinkActive="active"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Add Stock</span>
          </a>
          <a
            [routerLink]="['/view-stock']" routerLinkActive="active"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>View Stock</span>
          </a>
          <a
            [routerLink]="['/add-company']" routerLinkActive="active"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Manage Companies</span>
          </a>
          <a
            (click)="logout()"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-200 items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Log Out</span>
          </a>
        </div>
        <div *ngIf="!isLoggedIn">
          <a
            [routerLink]="['/login']" routerLinkActive="active"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Login</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
 
   
     <router-outlet></router-outlet>
   
   <app-footer></app-footer>
 </body>